#content{
    margin-top:15px;
}

.tabe-search-input{
    padding: 5px 3px;
}

.table-sort-icon{
    float: right;
    cursor: pointer;
}

.table-sort-icon-transform{
    float: right;
    transform: rotate(180deg);
    margin-top: 7px;
}

.btn-add-new, .btn-back{
    float: right;
}

.notification-panel-icon{
    margin: 0 5px;
    font-size: 20px;
}

.mr-10{
    margin-right: 10px;
}

.autocomplete-dropdown > .autocomplete-dropdown-item{
    display: block;
    padding: 5px;
}

.autocomplete-dropdown{
    max-height: 200px;
    overflow-x: hidden;
    display: block;
    position: absolute;
    width: 98%;
    z-index: 100;
    background: white;
    box-shadow: 0px 1px 1px 1px #d1d3e2;
    margin-top: 0px;
    border-radius: 5px;
}

.autocomplete-dropdown-item:hover{
    background: #4e73df;
    color: white;
    cursor: pointer;
}