#content{
    margin-top:15px;
}

.tabe-search-input{
    padding: 5px 3px;
}

.table-sort-icon{
    float: right;
    cursor: pointer;
}

.table-sort-icon-transform{
    float: right;
    transform: rotate(180deg);
    margin-top: 7px;
}

.btn-add-new, .btn-back{
    float: right;
}

.notification-panel-icon{
    margin: 0 5px;
    font-size: 20px;
}

.mr-10{
    margin-right: 10px;
}

.autocomplete-dropdown-item{
    display: block;
    padding: 5px;
}

.autocomplete-dropdown-item-highlighted{
    background: #4e73df;
    color: white;
    cursor: pointer;
}

.removable-item{
    padding: 3px 10px;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 0px grey;
    margin: 2px 2px 0 0;
}

.removable-item-x{
    display: inline-block;
    position: absolute;
    color: red;
    margin: 4px 8px;
}